<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Belajar MVC</title>
    <link rel="stylesheet" href="/css/umum.css" />
    <link rel="stylesheet" href="/css/blog.css" />
  </head>
  <body>
    <section class="bs1">
      <h1 class="judul"><%= userData.judul %></h1>
      <p class="penulis"><%= userData.nama %> | <%= userData.tanggal %></p>
      <p class="kota"><%= userData.kota %></p>
      <p class="p1"><%= userData.p1 %></p>
      <p class="p2"><%= userData.p2 %></p>
    </section>
  </body>
</html>
